ADMIN_USER=
ADMIN_PASS=

LEAGUE_USER=
LEAGUE_PASS=

SINCH_PROJECT_ID=
SINCH_KEY_ID=
SINCH_KEY_SECRET=
SINCH_APP_ID=

BUNNY_HOST=
BUNNY_USER=
BUNNY_PASS=
BUNNY_LIBRARY_ID=
BUNNY_VIDEO_API_KEY=
BUNNY_COLLECTION_2024=
BUNNY_COLLECTION_2025=
BUNNY_COLLECTION_2026=

EXPRESS_SESSION_SECRET=

PORT=8080

DB_PATH=./golf-league-db-public.db
