<footer class="site-footer">
  <div class="footer-content">
<<<<<<< HEAD
    <span>© Bottoms Up Golf League Manager</span>
    <a href="mailto:admin@bottoms-up-cos.org?subject=Bottoms Up Website">
      E-Mail League Office
    </a>
=======
    <span>© Golf League Manager</span>
    <a href="mailto:admin@bottoms-up-cos.org?subject=Bottoms Up Website"> E-Mail League Office </a>
>>>>>>> 55d2776 (moved 'videos' and 'images' under 'media' in navbar.  udpated league e-mail address in footer)
  </div>
</footer>
