<footer class="site-footer">
  <div class="footer-content">
    <span>© Bottoms Up Golf League</span>
    <a href="mailto:admin@bottoms-up-cos.org?subject=Bottoms Up Website"> E-Mail League Office </a>
  </div>
</footer>
