<nav class="navbar navbar-expand-xl bg-body-tertiary">
  <div class="container-fluid" style="background-color: lightgreen">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img
        src="/images/bottoms-up-logo.png"
        alt="Bottoms Up Logo"
        class="nav-logo"
      />
      <span class="ms-2">Bottoms Up Golf</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- LEFT SIDE (Shared Public Links) -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link px-3 text-success" href="/rules">Info/Rules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 text-success" href="/tee-times">Tee Times</a>
        </li>

        <!-- 🏆 New Results Dropdown Menu -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle px-3 text-success"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Results
          </a>
          <ul class="dropdown-menu custom-dropdown">
            <li>
              <a class="dropdown-item" href="/scores/standings">Standings</a>
            </li>
            <li><a class="dropdown-item" href="/skins">Skins</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle px-3 text-success"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Media
          </a>
          <ul class="dropdown-menu custom-dropdown">
            <li>
              <a class="dropdown-item" href="/images/2024">📷 2024 Images</a>
            </li>
            <li>
              <a class="dropdown-item" href="/images/2025">📷 2025 Images</a>
            </li>
            <li>
              <a class="dropdown-item" href="/images/2026">📷 2026 Images</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="/videos/2024">📹 2024 Videos</a>
            </li>
            <li>
              <a class="dropdown-item" href="/videos/2025">📹 2025 Videos</a>
            </li>
            <li>
              <a class="dropdown-item" href="/videos/2026">📹 2026 Videos</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 text-success" href="/course"
            >Course Information</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 text-success" href="/blog">Blog Page</a>
        </li>
      </ul>

      <!-- RIGHT SIDE (Dynamic Auth & Portal Options) -->
      <ul class="navbar-nav ms-auto">
        <!-- ⛳ Player Portal Dropdown (Visible ONLY to standard players, hidden from Admin) -->
        <% if (locals.isUser && !locals.isAdmin) { %>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle px-3"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            Player Portal
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/blog">League Blog</a></li>
            <li>
              <a class="dropdown-item" href="/players">List Active Players</a>
            </li>
          </ul>
        </li>
        <% } %>

        <!-- 🛠️ Admin Panel Dropdown (Visible ONLY to Admins) -->
        <% if (locals.isAdmin) { %>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle px-3"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            Admin Portal
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/players/new">Add Player</a></li>
            <li>
              <a class="dropdown-item" href="/scores/new"
                >Enter Weekly Scores</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/players"
                >List Active Players (Admin)</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/players/inactive"
                >List Inactive Players</a
              >
            </li>
            <li><a class="dropdown-item" href="/blog">League Blog</a></li>
            <li>
              <a class="dropdown-item" href="/blog/new">Write Blog Post</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/admin">Admin Tools</a></li>
          </ul>
        </li>
        <% } %>

        <!-- Authentication CTA Link -->
        <% if (locals.isUser) { %>
        <li class="nav-item">
          <a class="nav-link px-3" href="/logout">Logout</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link px-3" href="/login">Login</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
