<!doctype html>
<html lang="en">
  <head>
    <%- include ('./layouts/header'); %>
    <style>
      h1,
      p {
        margin: 0 auto;
        color: rgb(9, 61, 9);
      }
    </style>
  </head>

  <body>
    <%- include ('./layouts/navbar'); %>
    <br /><br /><br />
    <h1>PAGE NOT FOUND (404)</h1>
    <p>The page you requested does not exist.</p>

    <%- include('layouts/footer'); %>
    <%- include('layouts/scripts'); %>
  </body>
</html>
