<!doctype html>
<html lang="en">
  <head>
    <%- include ('./partials/header'); %>
  </head>

  <body>
    <%- include ('./partials/navbar'); %>
    <br /><br /><br />
    <h1>PAGE NOT FOUND (404)</h1>
    <p>The page you requested does not exist.</p>

    <%- include('partials/footer'); %>
    <%- include('partials/scripts'); %>
  </body>
</html>
