<!doctype html>
<html lang="en">
  <!-- header section -->
  <%- include('./layouts/header'); -%>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9Q82T2S" height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>

    <!-- NAVBAR -->
    <section id="navbar"><%- include('./layouts/navbar'); -%></section>

    <!-- MAIN -->
    <section class="main-wrapper">
      <!-- HERO LOGO -->
      <div class="page-logo">
        <img src="/images/bottoms-up-logo.png" alt="Bottoms Up Logo" />
      </div>

      <!-- TAGLINE -->
      <div class="tagline">Golf. Drinks. Good Times.</div>

      <!-- CONTENT -->
      <div class="content-container">
        <div class="center-content main-schedule">
          <h2 class="title">2025 WINNERS</h2>

          <p class="first">First Place - Jon Dickey (20.18)</p>
          <p>Second Place - Matthew Shirola (19.92)</p>
          <p>Third Place - Jeff Vest (19.89)</p>
          <p>CTP - Ryan Miller (4)</p>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <section id="footer"><%- include('./layouts/footer'); -%></section>
  </body>
</html>
