<!doctype html>
<html lang="en">
  <!-- header section -->
  <%- include('./layouts/header'); -%>

  <body>
    <section id="navbar"><%- include('./layouts/navbar'); -%></section>

    <section>
      <div class="container">
        <br />
        <div class="row align-items-center justify-content-center text-center">
          <div class="col">
            <h4>
              2025 Overall Standings/Stats:
              <a href="/results/2025/2025 Overall Standings - All Weeks.xlsx">CLICK HERE</a>
            </h4>
          </div>
        </div>
        <br />
        <div class="text-center">
          <div id="squatch" class="col">
            <a href=""><img style="width: 15vw" src="/images/2025/Bottom's%20Up%20Squatch.webp" alt="" /></a>
          </div>

          <div style="font-size: 2rem" class="main-schedule">
            <p>Test Font Size</p>
            <h5>2025 WINNERS</h5>
            <h4>-------------------</h4>
            <h5 style="color: rgb(204, 57, 82)">First Place - Jon Dickey (20.18)</h5>
            <h6>Second Place - Matthew Shirola (19.92)</h6>
            <h6>Third Place - Jeff Vest (19.89)</h6>
            <br />
            <h6 style="color: rgb(204, 57, 82)">CTTP Winners (4 pts) - Dickey/Shirola/Miller</h6>
            <h6 style="color: rgb(204, 57, 82)">Most Improved (4 Strokes) - Vest</h6>
            <h6 style="color: rgb(204, 57, 82)">Best Scoring Night (45.27) - Sept 22</h6>
            <h6 style="color: rgb(204, 57, 82)">Worst Scoring Night (50.33) - June 30</h6>
          </div>

          <div id="squatch" class="col">
            <a href=""><img style="width: 15vw" src="/images/2025/Bottom's%20Up%20Squatch.webp" alt="" /></a>
          </div>
        </div>
        <br />
        <br />
        <div class="row align-items-center justify-content-center text-center">
          <div class="col">
            <p style="color: rgb(27, 31, 28); font-size: large">MARK YOUNG</p>
            <a style="border-radius: 10px" href="/images2024"><img class="main-small img-fluid images" src="/images/2025/IMG_p1934.webp" alt="Mark Young" srcset="" title="Champion" /></a>
          </div>
          <div class="col">
            <p style="color: rgb(27, 31, 28); font-size: large">JON DICKEY</p>
            <a style="border-radius: 10px" href="/images2024"
              ><img class="main-small img-fluid images" src="/images/2024/IMG_p1174.webp" loading="lazy" alt="Jon Dickey" srcset="" title="CTTP Champ"
            /></a>
          </div>
          <div class="col">
            <p style="color: rgb(27, 31, 28); font-size: large">MIKE WHITE</p>
            <a style="border-radius: 10px" href="/images2024"
              ><img class="main-small img-fluid images" src="/images/2024/IMG_p0605.webp" loading="lazy" alt="Mike White" srcset="" title="first half winner"
            /></a>
          </div>
          <div class="col">
            <p style="color: rgb(27, 31, 28); font-size: large">SHAYNE IGE</p>
            <a style="border-radius: 10px" href="/images2024"
              ><img class="main-small img-fluid images" src="/images/2024/IMG_p1372.webp" loading="lazy" alt="Shayne Ige" srcset="" title="second half winner"
            /></a>
          </div>
        </div>
      </div>
    </section>

    <section id="footer"><%- include('./layouts/footer'); -%></section>
  </body>
</html>
