<!doctype html>
<html lang="en">
<%- include('./layouts/header'); -%>

<body>
  <%- include('./layouts/navbar'); -%>

  <div class="main-wrapper">
    <div style="text-align: center">
      <iframe src="/results/2025/2025 Overall Standings.pdf#zoom=Fit" style="height: 90vh; width: 90%"></iframe>
    </div>
  </div>

  <%- include('./layouts/footer'); -%> <%- include('./layouts/scripts'); -%>
</body>

</html>