<!doctype html>
<html lang="en">
<%- include('./layouts/header'); -%>

<body>

  <%- include('./layouts/navbar'); -%>

  <div class="main-wrapper">
    <div style="text-align: center">     
      <object data="/docs/Bottoms Up 2026 League Info and Rules (03-29-26).docx" type="application/vnd.openxmlformats-officedocument.wordprocessingml.document">doc</object>    
    </div>
  </div>

  <%- include('./layouts/footer'); -%>

  <%- include('./layouts/scripts'); -%>
</body>

</html>
