<!doctype html>
<html lang="en">
  <%- include('./layouts/header'); -%>

  <body>
    <section><%- include('./layouts/navbar'); -%></section>

    <section id="meat">
      <div style="text-align: center">
        <iframe src="/docs/Bottoms Up 2026 League Info and Rules (03-29-26).pdf#zoom=Fit" style="height: 90vh; width: 90%"></iframe>
      </div>
    </section>

    <section><%- include('./layouts/footer'); -%></section>

    <section><%- include('./layouts/scripts'); -%></section>
  </body>
</html>
