<!doctype html>
<html lang="en">
<%- include('./layouts/header'); -%>

<body>

  <%- include('./layouts/navbar'); -%>

  <div class="main-wrapper">
    <div style="text-align: center">
      <object data="/docs/Bottoms Up 2026 League Info and Rules (03-29-26).docx" type="application/msword" height="90vh" width: "90%">
        <iframe src="/docs/Bottoms Up 2026 League Info and Rules (03-29-26).docx#zoom=Fit" style="height: 90vh; width: 90%">
          <p>This browser does not support MS Word. Please download the document to view it: <a href="/docs/Bottoms Up 2026 League Info and Rules (03-29-26).docx">Download Document</a></p>
        </iframe>
      </object>
    </div>
  </div>

  <%- include('./layouts/footer'); -%>

  <%- include('./layouts/scripts'); -%>
</body>

</html>
