<!doctype html>
<html lang="en">
<%- include('./layouts/header'); -%>

<body>

  <%- include('./layouts/navbar'); -%>

  <div class="main-wrapper">
    <div style="text-align: center">     
     <iframe src="https://docs.google.com/document/d/e/2PACX-1vSiohpKtPtrBYZmY_5a0vmwYH6cLMEoyLzulXOFf_Q4Ga5YYDipbTORodDAtxCCpQ/pub?embedded=true"></iframe>
    </div>
  </div>

  <%- include('./layouts/footer'); -%>

  <%- include('./layouts/scripts'); -%>
</body>

</html>
