<!doctype html>
<html lang="en">
<%- include('./layouts/header'); -%>

<body>

  <%- include('./layouts/navbar'); -%>

  <div class="main-wrapper">
    <div style="text-align: center">     
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vRhwke4pVrQHBPBYh1caT_8nqLMpGsYdStFuf9GlSF4FkF9fqhO9zC5JXQpHrBb8d1S--S50ry_mv2-/pub?embedded=true" width="95%" height="90vh"></iframe>
    </div>
  </div>

  <%- include('./layouts/footer'); -%>

  <%- include('./layouts/scripts'); -%>
</body>

</html>
