<!doctype html>
<html lang="en">
  <%- include('./layouts/header'); -%> <%- include('./layouts/navbar'); -%>
  <style>
    a {
      color: rgb(8, 70, 6);
      font-size: larger;
      font-weight: bolder;
    }

    h2 {
      text-decoration: none;
    }
  </style>

  <body>
    <div class="container-fluid">
      <div style="margin: 25px" class="row">
        <div class="col-4 text-center" style="text-align: center">
          <h2>2025 Skins Results</h2>
          <br />
          <ul style="list-style-type: none; padding: 0; text-align: center">
            <li>
              <button style="background-color: gray" class="button-3">Week 1 - May 5th (RAINOUT)</button>
            </li>
            <li>
              <button class="button-3" role="button" onclick="openPDF('Week 2 Skins.pdf')">Week 2 - May 12th</button>
            </li>
            <li>
              <button style="background-color: gray" class="button-3">Week 3 - May 19th (RAINOUT)</button>
            </li>
            <li>
              <button style="background-color: gray" class="button-3">Week 4 - May 26 (NOT ENOUGH PLAYERS)</button>
            </li>
            <li>
              <button class="button-3" role="button" onclick="openPDF('Week%205%20Skins.pdf')">Week 5 - June 2</button>
            </li>
            <li>
              <button class="button-3" role="button" onclick="openPDF('Week%206%20Skins.pdf')">Week 6 - June 9</button>
            </li>
            <li>
              <button class="button-3" role="button" onclick="openPDF('Week%207%20Skins.pdf')">Week 7 - June 16</button>
            </li>

            <li>
              <button class="button-3" role="button" onclick="openPDF('TBD.pdf')">Week 8 - June 23</button>
            </li>
          </ul>
        </div>

        <div style="display: grid; grid-template-columns: 1fr" class="col-6">
          <div style="grid-row-start: 1; grid-column-start: 1">
            <object style="height: 87vh; width: 60vw" id="myFrame" data="/results/2025/Week%202%20Skins.pdf?t=" type="application/pdf"></object>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    function openPDF(filename) {
      var omyFrame = document.getElementById("myFrame");
      var timestamp = new Date().getTime();
      omyFrame.data = "results/2025/" + filename + "?t=" + timestamp;
      omyFrame.type = "application/pdf";
    }
  </script>

  <%- include('layouts/scripts'); %>
</html>

<%- include('layouts/footer'); %>
