<!doctype html>

<html lang="en">
<%- include('layouts/header');%>

  <style>
    .table-row {
      color: white;
      height: 21px;
    }
  </style>

  <body>
    <section><%- include('layouts/navbar'); %></section>
    <div class="text-center">
      <br /><br />
      <h1>2025 Tee Times</h1>
      <h3>
        <span style="color: blue">Blue</span>/<span style="color: gold">Gold</span>
        Tees
      </h3>
      <br />
    </div>
    <section>
      <div class="justify-content-center">
        <table style="table-layout: auto; font-size: 0.75rem; width: 35vw" cellspacing="0" cellpadding="0">
          <tr style="font-size: medium">
            <td colspan="4">September 8&nbsp&nbsp(Week 19 of 22)</td>
          </tr>
          <tr style="font-size: medium">
            <td>4:40p</td>
            <td>4:50p</td>
            <td>5:00p</td>
            <td>5:10p</td>
          </tr>
          <tr class="table-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="table-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="table-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="table-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <h4 style="text-align: center; font-weight: normal">(we will adjust if needed at the course)</h4>
      </div>
    </section>

    <section><%- include('layouts/footer'); %></section>

    <section><%- include('layouts/scripts'); %></section>
  </body>

</html>