<!doctype html>
<html lang="en">
  <head>
    <%- include('./layouts/header'); %>
    <style></style>
  </head>

  <body>
    <section>
      <%- include('./layouts/navbar'); %>
    </section>

    <section>
      <%- include('./layouts/footer'); %>
    </section>

    <section>
      <%- include('./layouts/scripts'); %>
    </section>
  </body>
</html>
