<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/header'); %>
    <style></style>
  </head>

  <body>
    <section>
      <%- include('./partials/navbar'); %>
    </section>

    <section>
      <%- include('./partials/footer'); %>
    </section>

    <section>
      <%- include('./partials/scripts'); %>
    </section>
  </body>
</html>
