<!doctype html>
<html lang="en">
  <%- include('./layouts/header'); -%>

  <style>
    iframe:hover {
      border: 5px solid rgb(38, 226, 38);
    }

    iframe {
      margin: 15px;
      height: 25vh;
      width: auto;
    }
  </style>

  <body>
    <section>
      <div><%- include('./layouts/navbar'); -%></div>
    </section>
    <div>
      <br /><br />
      <h1 style="text-align: center">2025 Videos</h1>
      <br />
    </div>

    <section id="videos">
      <div class="text-center justify-content-center">
        <iframe
          src="https://player.mediadelivery.net/embed/551954/1f9c8e02-5895-4eb7-8035-6ef303a72299?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>
        <iframe
          src="https://player.mediadelivery.net/embed/551954/c46e4d7c-0ee6-4a1f-83fd-2a3fd8605971?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>
        <iframe
          src="https://player.mediadelivery.net/embed/551954/b6d43072-53c3-4d03-b6f9-bcf06b751e9d?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>
        <iframe
          src="https://player.mediadelivery.net/embed/551954/3bed6e36-f220-407c-8beb-e03782b851a7?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>
        <iframe
          src="https://player.mediadelivery.net/embed/551954/f00a9c84-b077-4c31-b986-8227251f88d9?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>
        <iframe
          src="https://player.mediadelivery.net/embed/551954/fd88e6f0-09e3-4d06-9f05-4cc37ba70ee5?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>
        <iframe
          src="https://player.mediadelivery.net/embed/551954/552def17-6a54-4f3e-9ff7-92f83ee8f5e5?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>
        <iframe
          src="https://player.mediadelivery.net/embed/551954/f20766ee-1fbf-47a7-bdab-c8ad650ec24f?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>
        <iframe
          src="https://player.mediadelivery.net/embed/551954/ee350e02-b4a6-47a2-86bd-1fa573dcb225?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>
        <iframe
          src="https://player.mediadelivery.net/embed/551954/a97913a3-fdc9-46d6-966a-3e21f76598b9?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>
        <iframe
          src="https://player.mediadelivery.net/embed/551954/a214e453-349d-4e83-8684-09bf210a90e3?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>
        <iframe
          src="https://player.mediadelivery.net/embed/551954/248fdbb6-47dd-4c0a-9a49-8c6e74961680?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>
      </div>
    </section>

    <section>
      <div><%- include('./layouts/footer'); -%></div>
    </section>

    <section>
      <div><%- include('./layouts/scripts'); -%></div>
    </section>
  </body>
</html>
