<!doctype html>
<html lang="en">
  <%- include('./layouts/header'); -%>

  <body>
    <section>
      <div><%- include('./layouts/navbar'); -%></div>
    </section>
    <div>
      <br /><br />
      <h1 style="text-align: center">2024 Videos</h1>
      <br />
    </div>

    <section id="videos">
      <div class="container text-center justify-content-center">
        <div class="row">
          <div class="col">
            <iframe
              src="https://player.mediadelivery.net/embed/551954/079fb77a-bc16-425f-98dd-ef2238584426?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
              loading="lazy"
              style="border: 5; top: 0; height: 25vh; width: auto"
              allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
              allowfullscreen="true"
            ></iframe>
          </div>
          <div class="col">
            <iframe
              src="https://player.mediadelivery.net/embed/551954/41bbd58c-5312-45cb-81e9-215efb3fda2f?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
              loading="lazy"
              style="border: 5; top: 0; height: 25vh; width: auto"
              allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
              allowfullscreen="true"
            ></iframe>
          </div>
          <div class="col">
            <iframe
              src="https://player.mediadelivery.net/embed/551954/57fba875-3ebd-4e6f-bb1c-08d48ccd1229?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
              loading="lazy"
              style="border: 5; top: 0; height: 25vh; width: auto"
              allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
              allowfullscreen="true"
            ></iframe>
          </div>
          <div class="col">
            <iframe
              src="https://player.mediadelivery.net/embed/551954/75a803cf-5514-4d70-93e7-e43c809c58e5?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
              loading="lazy"
              style="border: 5; top: 0; height: 25vh; width: auto"
              allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
              allowfullscreen="true"
            ></iframe>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <iframe
              src="https://player.mediadelivery.net/embed/551954/75a803cf-5514-4d70-93e7-e43c809c58e5?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
              loading="lazy"
              style="border: 5; margin-top: 25px; height: 25vh; width: auto"
              allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
              allowfullscreen="true"
            ></iframe>
          </div>
          <div class="col">
            <iframe
              src="https://player.mediadelivery.net/embed/551954/75a803cf-5514-4d70-93e7-e43c809c58e5?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
              loading="lazy"
              style="border: 5; margin-top: 25px; height: 25vh; width: auto"
              allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
              allowfullscreen="true"
            ></iframe>
          </div>
          <div class="col">
            <iframe
              src="https://player.mediadelivery.net/embed/551954/75a803cf-5514-4d70-93e7-e43c809c58e5?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
              loading="lazy"
              style="border: 5; margin-top: 25px; height: 25vh; width: auto"
              allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
              allowfullscreen="true"
            ></iframe>
          </div>
          <div class="col">
            <iframe
              src="https://player.mediadelivery.net/embed/551954/75a803cf-5514-4d70-93e7-e43c809c58e5?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
              loading="lazy"
              style="border: 5px; margin-top: 25px; height: 25vh; width: auto"
              allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
              allowfullscreen="true"
            ></iframe>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div><%- include('./layouts/footer'); -%></div>
    </section>

    <section>
      <div><%- include('./layouts/scripts'); -%></div>
    </section>
  </body>
</html>
