<!doctype html>
<html lang="en">
  <%- include('./layouts/header'); -%>

  <body>
    <section>
      <div><%- include('./layouts/navbar'); -%></div>
    </section>
    <div>
      <br /><br />
      <h1 style="text-align: center">2024 Videos</h1>
      <br />
    </div>

    <section id="videos">
      <div class="text-center justify-content-center">
        <iframe
          src="https://player.mediadelivery.net/embed/551954/079fb77a-bc16-425f-98dd-ef2238584426?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border: 0px; margin: 15px; height: 25vh; width: auto"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>

        <iframe
          src="https://player.mediadelivery.net/embed/551954/41bbd58c-5312-45cb-81e9-215efb3fda2f?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border: 0px; margin: 15px; height: 25vh; width: auto"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>

        <iframe
          src="https://player.mediadelivery.net/embed/551954/57fba875-3ebd-4e6f-bb1c-08d48ccd1229?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border: 0px; margin: 15px; height: 25vh; width: auto"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>

        <iframe
          src="https://player.mediadelivery.net/embed/551954/75a803cf-5514-4d70-93e7-e43c809c58e5?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border: 0px; margin: 15px; height: 25vh; width: auto"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>

        <iframe
          src="https://player.mediadelivery.net/embed/551954/18d5fc1c-9428-43ac-8b04-219cc0e7f616?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border: 0px; margin: 15px; height: 25vh; width: auto"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>

        <iframe
          src="https://player.mediadelivery.net/embed/551954/e0ecd075-478f-41b0-9967-b0d89d006f42?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border: 0px; margin: 15px; height: 25vh; width: auto"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>

        <iframe
          src="https://player.mediadelivery.net/embed/551954/220f0c8d-1e67-4ca4-98a2-5d95f59a8dcd?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border: 0px; margin: 15px; height: 25vh; width: auto"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>

        <iframe
          src="https://player.mediadelivery.net/embed/551954/4eb35152-60ba-4e6d-8317-1bdea3cb5fdb?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border: 0px; margin: 15px; height: 25vh; width: auto"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>

        <iframe
          src="https://player.mediadelivery.net/embed/551954/4934f586-17d0-4ece-83c0-348fa023e58d?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border: 0px; margin: 15px; height: 25vh; width: auto"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"
        ></iframe>
      </div>
    </section>

    <section>
      <div><%- include('./layouts/footer'); -%></div>
    </section>

    <section>
      <div><%- include('./layouts/scripts'); -%></div>
    </section>
  </body>
</html>
