<!doctype html>
<html lang="en">
  <%- include('./layouts/header'); -%>

  <body>
    <section>
      <div><%- include('./layouts/navbar'); -%></div>
    </section>
    <div>
      <br /><br />
      <h1 style="text-align: center">2024 Videos</h1>
      <br />
    </div>

    <section id="videos">
      <div class="container text-center justify-content-center">
        <div class="row">
          <div class="col">
            <video controls preload="auto">
              <source src="/videos/2024/IMG_0483.MP4" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">Kevin Leading Off</p>
            <br />
          </div>
          <div class="col">
            <video controls preload="auto">
              <source src="/videos/2024/IMG_0484.MP4" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">Ryan</p>
            <br />
          </div>
          <div class="col">
            <video controls preload="auto">
              <source src="/videos/2024/IMG_0485.MP4" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">Mark Y</p>
            <br />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <video controls preload="auto">
              <source src="/videos/2024/IMG_0486.MP4" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">Jeff</p>
            <br />
          </div>
          <div class="col">
            <video controls preload="auto">
              <source src="/videos/2024/IMG_0487.MP4" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">John</p>
            <br />
          </div>
          <div class="col">
            <video controls preload="auto">
              <source src="/videos/2024/IMG_0488.MP4" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">Ami</p>
            <br />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <video controls preload="auto">
              <source src="/videos/2024/IMG_0541.MP4" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">Illegal Russ</p>
            <br />
          </div>
        </div>
        <div>
          <iframe
            width="560"
            height="315"
            src="https://imagekit.io/player/embed/bme1gms2h/IMG_2069.mov/ik-video.mp4?controls=true&autoplay=false&loop=false&background=%23000000&updatedAt=1764180670350&thumbnail=https%3A%2F%2Fik.imagekit.io%2Fbme1gms2h%2FIMG_2069.mov%2Fik-video.mp4%2Fik-thumbnail.jpg%3FupdatedAt%3D1764180670350"
            title="ImageKit video player"
            frameBorder="5"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; fullscreen"
          >
          </iframe>
        </div>
      </div>
    </section>

    <section>
      <div><%- include('./layouts/footer'); -%></div>
    </section>

    <section>
      <div><%- include('./layouts/scripts'); -%></div>
    </section>
  </body>
</html>
