<!doctype html>
<html lang="en">
  <%- include('./layouts/header'); -%>

  <body>
    <section>
      <div><%- include('./layouts/navbar'); -%></div>
    </section>
    <div>
      <br /><br />
      <h1 style="text-align: center">2025 Videos</h1>
      <br />
    </div>

    <section id="videos">
      <div class="container text-center justify-content-center">
        <div class="row">
          <div class="col">
            <video title="img_2040.mov" controls preload="auto">
              <source src="/videos/2025/IMG_2040.mov" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">Mike Guinn</p>
            <br />
          </div>
          <div class="col">
            <video title="img_2041.mov" controls preload="auto">
              <source src="/videos/2025/IMG_2041.mov" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">Tony Adkison</p>
            <br />
          </div>
          <div class="col">
            <video title="img_2042.mov" controls preload="auto">
              <source src="/videos/2025/IMG_2042.mov" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">Mark Young</p>
            <br />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <video title="img_2047.mov" controls preload="auto">
              <source src="/videos/2025/IMG_2047.mov" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">Crocs</p>
            <br />
          </div>
          <div class="col">
            <video title="img_2052.mov" controls preload="auto">
              <source src="/videos/2025/IMG_2052.mov" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">Ryan Miller</p>
            <br />
          </div>
          <div class="col">
            <video title="img_2056.mov" controls preload="auto">
              <source src="/videos/2025/IMG_2056.mov" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">Jon Dickey</p>
            <br />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <video title="img_2060.mov" controls preload="auto">
              <source src="/videos/2025/IMG_2060.mov" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">Matt Shirola</p>
            <br />
          </div>
          <div class="col">
            <video title="img_2064.mov" controls preload="auto">
              <source src="/videos/2025/IMG_2064.mov" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">Randy Wise</p>
            <br />
          </div>
          <div class="col">
            <video title="img_2068.mov" controls preload="auto">
              <source src="/videos/2025/IMG_2068.mov" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">Luke Morgan</p>
            <br />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <video title="img_2069.mov" controls preload="auto">
              <source src="/videos/2025/IMG_2069.mov" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">Jeff Vest</p>
            <br />
          </div>
          <div class="col">
            <video title="img_2070.mov" controls preload="auto">
              <source src="/videos/2025/IMG_2070.mov" type="video/mp4" />
            </video>
            <p style="font-weight: bold; margin: 0">Mike White</p>
            <br />
          </div>
        </div>
        </div>
      </div>
    </section>

    <section>
      <div><%- include('./layouts/footer'); -%></div>
    </section>

    <section>
      <div><%- include('./layouts/scripts'); -%></div>
    </section>
  </body>
</html>
